
.card__image {
    height: 413px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
    object-fit: cover;
    display: block;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    max-width: 353px;
 }

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-btn {
    background-image: url(../images/like-button.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 40%;
}

.card__like-btn:cursor:hover {
     opacity: 1;
     cursor: pointer;
 }

@media screen and (max-width:627px) {
    .card__image {
        height: 288px;
    }

    @media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }
}

}